<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>

    <!-- The title variable will be replaced with the title of every page -->
    <title>{{title}}</title>
</head>

<body>
    <!-- Content of other pages will replace the body variable -->
    {{{body}}}
</body>

<footer>
    <h3>© Bar Katz </h3>
</footer>

</html>