<!--action specifies that form be handled on the same page-->
<div>
    <form action='/Calculate' method='GET'>
        <input type='text' name='name' />
        <input type='email' name='email' />
        <input type='submit' />
    </form>
</div>